#### OSX ####
.DS_Store
.AppleDouble
.LSOverride
Icon

### Xcode ###
*.xcodeproj
!of_livehack.xcodeproj/project.pbxproj
!of_livehack.xcodeproj/xcshareddata/*


### OpenFrameworks ###
bin/
!bin/data/popcones
